<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>RESTful Guest List</title>
</head>

<body>
  <h2>guest List</h2>
  <ul>
    <% guests.forEach((guest,index) => { %>
      <li>
        <p>
         <a href= <%=`${index}`%> >
            <%= guest.name %>
              </a>
        </p>
      </li>
      <% }) %>
  </ul>
</body>

</html>
