<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RESTful Guest: <%= guest.name %> </title>
  </head>
  <body>
    <h2><%= guest.name %></h2>
    <p><%= guest.name %> will be bringing <%= guest.bring %></p>
  </body>
</html>
